body {
    margin: 0;
    padding: 0;

}
/*First section header start*/
#mainContainer {
    background-color: #8E9193;
    background-image: url('./images/abrar.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    border-top: 1px solid white;
}

ul>a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

li {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #D6DCE0;
}
li:hover{
    color:lightblue;
}
#centermaterial {
    opacity: 0.6;
    color:white;
    position: absolute;
    left: 40%;
    top: 30%;
}
#centermaterial p {
    text-align: center;
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#centermaterial h1{
    font-size: 3em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#centermaterial{
    text-align: center;
} 
nav{
    display: flex;
    justify-content: center;
}
#menubar{
    margin-top: 20px;
    width: 4%;
    height: 8vh;
    margin-left: 10px;
    display: none;
}
#menubar > img{
    width: 100%;
}
/*First section header end*/

/*Project done Portfolio Start*/

#wrapperProject > #headingprojects{
    text-align: center;
    padding: 60px;
    border-bottom: 1px dotted white;
}

#wrapperProject > #headingprojects > span{
    font-size: 3em;
}
.containereachdiv{
    width:28%;
    margin: 9px;
    resize: both;
}
.containereachdiv img{
    width: 100%;
}
.captionProject{
    text-align: center;
}
.captionProject h2{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.captionProject p{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#projectsline1{
    justify-content: center;
    align-items: center;
    padding: 0px;
    display: flex;
    width: 100%;
} 
/*---project portflio done------*/

/*------Project portfolio Resume*/

.portfolioHead{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#resumeHeader{
    text-align: center;
    padding: 20px;
    font-size: 2.7em;
}
.ResumeHEaderText{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.resumecontainercenter{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.containerResume{
    border: 1px solid red;
    padding: 10px;
    background-color: #8E9193;
    margin: 50px;
    border-radius:10px;
    min-height: 75%;
}
.botomtext{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#D1D4D5;
}
.headingContainer > h3{
    color: #D1D4D5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Resumeinformation{
   font-size: 1em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.headingContainer h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1em;
}
/*-------Project Portolio Resume End------*/

/*-----About me Section Start--------*/
#headingABout p{
    font-size: 2.9em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#aboutparagraph p{
    font-size: 1.1em;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 1px;
}
#hireMe{
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    border-color: white;
}
#downloadcv{
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    border-color: white;
}
#aboutsection{
    padding: 10px;
    display: flex;
    justify-content: center;
}
#image{
    margin: 30px;
}
#abouttext{
    margin: 30px;
    width: 40%;
}
#cvHirebtn{
    display: flex;
}
#hireMe{
    padding: 10px;
    margin: 20px;
}
#downloadcv{
    margin: 20px;
    padding: 10px;
}
/*-----------About me Section Endd-------------------*/

/*----------our severice start -----------*/
#ServeProvide{    
    display: flex;
    justify-content: center;
}
.serviceheading{
    text-align: center;
    padding: 20px;
}
.servicesectin{
    margin: 20px;
    width: 25%;
    padding: 10px;
}
.imageSection{
    
    display: flex;
    justify-content: center;
}
.imageSection img{
    border-radius: 50%;
}

/*----------our severice End -----------*/
/*----------Contact us Start---------*/
#headingTouch{
    width: 100%;
}

#containerformaddd{
    display: flex;
    justify-content: center;

}
#containerContact{
    background-color: #8E9193;
    width: 40%;
    padding: 20px;
    margin: 10px;
}
#address{
    background-color: #D6DCE0;
    width: 40%;
    margin: 10px;
    padding: 10px;
}
.inoutData{
    width: 90%;
    padding: 15px;
}
#btn{
    width: 30%;
    padding: 15px;
}
.head{
    
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}
.imges{
    width: 10%;
}
.imges img{
    width: 50%;
    border-radius: 50%;
}
#socialMedia{
    display: flex;
    justify-content: center;
}
#copyrighttext{
    align-items: center;
}
#copyrighttext p{
    align-items: center;
}